.word-field {
  width: 70%;
  min-height: 100px;
  background-color: gray;
  margin: auto;
}

.counter {
  width: 100%;
  text-align: center;
}

.done {
  color: red;
  text-decoration: line-through;
}
